// 返回一种颜色对比的黑白色
@function color-contrast($color, $dark-color: $dark, $light-color: $white){
  $r : red($color);
  $g : green($color);
  $b : blue($color);
  $luma : 0.299 * $r + 0.587 * $g + 0.114 * $b;
  @if $luma <= 150 {
    @return $light;
  } @else {
    @return $dark;
  }
}

// 阴影
@mixin shadow-variant($offset) {
  box-shadow: 0 $offset ($offset + .05rem) * 2 rgba($gray-1, .3);
}
@mixin control-shadow($color: $blue) {
  box-shadow: 0 0 0 .1rem rgba($color, .2);
}