.accordion{
  input:checked ~,
  &[open]{
    & .accordion-header{
      .icon{
        transform: rotate(90deg)
      }
    }
    & .accordion-body{
      max-height: 100rem;
    }
  }
  .accordion-header{
    cursor: pointer;
    display: block;
    padding: $unit-1 $unit-2;
    .icon{
      transition: transform 0.25s;
    }
  }
  .accordion-body{
    padding-left: $unit-2;
    margin-bottom: $layout-spacing;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.25s;
  }
}
// 取消details标签自带的标志
summary.accordion-header{
  &::-webkit-details-marker{
    display: none !important;
  }
}